* {
    all: unset;   
}
body {
    font-size: 12px;
    display: block;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    z-index: 9999;
    background-color: #222222;
    color: #c63b68;
    border-bottom: 2px solid #c63b68;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-content {
    padding: 1em;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-logo .image {
    width: 50px;
    height: 50px;
    border: 2px solid #c63b68;
}
.header-logo .name {
    margin-left: .5em;
    color: #c63b68;
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}
.header-menu {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
}
nav {
    flex: 0 0 auto;
    order: 1;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-left: 1em;
    list-style: none;
}
nav ul {
    padding: 0;
    margin: 0;
    margin-left: 1em;
    list-style: none;
}
nav ul li {
    display: inline-block;
    vertical-align: middle;
}
nav ul li a {
    display: block;
    padding: .2em .5em;
    color: #c63b68;
    text-decoration: none;
    text-transform: lowercase;
}
.jsx-1649881309 {
    flex: 1;
}